*.log
html/config.php
/nbproject/private/
#images/advert/*
html/files/*
html/import/files4import/*
html/images/albums/*
html/images/car/*
html/images/category/*
html/images/comment/*
html/images/country/*
html/images/currency/*
html/images/group/*
html/images/messages/*
html/images/people/*
html/images/shop/*
html/images/product/*
.svn
*.sublime-*
*.xml
*.done
*.cur
*.xls
*.tar.gz
*%*
#rsync -avz -e ssh user@comiron.com:/var/www/user/data/www/comiron.com/html/images/albums e:/sn/xampp/htdocs/hasant/html/images/albums
